.art{
    text-align: left;
    padding: 5px;
    
}
.art form button{
    background-color:black;
    color: white;
   width: 100px;
   margin-left: 10px;
}
.art form button:hover{
    background-color:teal;
    color:black;
   width: 100px;
   margin-left: 10px;
   
}
.add{
    text-align: center;
 
    font-weight: 600px;
}
.art form input {
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    color: #000;
}
.art form textarea{
   border-radius: 20px;
   resize: none;
}
