<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewer</title>
    <link rel="stylesheet" href="../assets/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <section id="menu news">
    <div class="container">
        <div id="slide">
            <div class="item" style="background-image: url(../assets/image/sport.jpg);">
                <div class="content">
                    <div class="name">SPORTS NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="SportEditor.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/r.jpg);">
                <div class="content">
                    <div class="name">POLITICAL NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="politicalEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/p.jpg);">
                <div class="content">
                    <div class="name">ECONOMIC NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="economicEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/cinema.jpeg);">
                <div class="content">
                    <div class="name">cinema NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="cinemaEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/social.jpg);">
                <div class="content">
                    <div class="name">SOCIAL NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="socialEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/k.jpg);">
                <div class="content">
                    <div class="name">SCIENTIFC</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="scientificEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
            <div class="item" style="background-image: url(../assets/image/health.jpg);">
                <div class="content">
                    <div class="name">HEALTH NEWS</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <a href="healthEditors.html"><input type="submit" value="See More" ></a>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
  </section>
    <script src="../assets/js/viewer.js"></script>
</body>
</html>
  